<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{ text_title }}</h4>
  </div>
  <div class="panel-body">
    <p>{{ text_description }}</p>
    
    <div class="text-right">
      <button type="button" id="button-confirm" class="btn btn-primary btn-lg" data-loading-text="{{ text_loading }}">
        <i class="fa fa-credit-card"></i> {{ button_confirm }}
      </button>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
    $.ajax({
        url: 'index.php?route=extension/payment/eps/confirm',
        type: 'post',
        dataType: 'json',
        beforeSend: function() {
            $('#button-confirm').button('loading');
        },
        complete: function() {
            $('#button-confirm').button('reset');
        },
        success: function(json) {
            if (json['redirect']) {
                location = json['redirect'];
            }
            
            if (json['error']) {
                alert(json['error']);
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>